*{
    font-family: 'Bree Serif', serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Bree Serif', serif;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 24px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 24px;
    /*background-color: #222222;
    color: #fff;
    border-top: 2px solid #f1b82d !important;*/
    font-size: small;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none !important;
}

.urgent{
    background-color: yellow !important;
}

.alertBox{
    position:fixed; 
    top: 50px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

.default-top-spacer{
    margin-top: 100px;
}

.small-top-spacer{
    margin-top: 60px;
}

.inventory-panel-title{
    margin-top: 4px !important;
}

.tab-pane{
  height:550px;
  overflow-y:scroll;
  width:100%;
}

.tab-pane-no-scroll{
    height: 550px;
    width: 100%;
}

.extra-padding{
    padding-top: 40px;
}

.modal-padding{
    padding: 0 20px 20px 20px;
}

.err-messages{
    color: #900000;
    font-weight: bold;
}

.gen-tab-border{
    border-bottom: 2px solid black;
}

#navBarPageTitle{
    font-weight: 100;
    padding-left: 10px;
    font-size: medium;
}

#logo{
    height: 20px;
}

.navbar-brand{
    padding: 2px 0 0 0 !important;
}

.navbar-brand>img{
    padding-top: 4px;
    padding-left: 10px;
}

#navbar-page-title{
    float: left;
    padding: 12px 8px;
    font-size: 12px;
    line-height: 18px;
    height: 42px;
}

#userHeader{
    margin-right: 10px;
}

.input-addon-btn:hover {
    cursor: pointer;
}

th:hover{
    cursor: pointer;
}

.studentListTable > tbody > tr:hover{
    cursor: pointer;
}

.studentListTableHeader{
    font-size: large;
}

.loading-wrapper {
    background: rgba(255, 255, 255, 1);
    z-index: 998;
}

body {
    margin: 0 !important;
}

.loading {
    z-index: 999;
}

#editNameHeader{
    margin-top: 0;
    display: inline-block;
}

.center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}
.star-rating.readonly .star.filled {
  color: #666;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
    color: #000;
}

.highlight{
    background-color: #fd0;
}

#textLogo{
    font-size: x-large;
    padding-top: 13px !important;
}

.navbar{
    border-bottom: 2px solid dodgerblue !important;
}

.btn-link{
    color: #000 !important;
}