*{
    font-family: 'Bree Serif', serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Bree Serif', serif;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 24px;
    background-color: #B2DBBF;
    /*background-image: url(../images/001-Basik-Paper.png);*/
}

textarea {
    resize: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 24px;
    /*background-color: #222222;
    color: #fff;
    border-top: 2px solid #f1b82d !important;*/
    font-size: small;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none !important;
}

.asteriskField{
    color: #CC0030;
}

.alertBox{
    position:fixed; 
    top: 50px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

.default-top-spacer{
    margin-top: 100px;
}

.small-top-spacer{
    margin-top: 60px;
}

.min-top-spacer{
    margin-top: 20px;
}

.centerVH{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory-panel-title{
    margin-top: 4px !important;
}

.tab-pane{
  height:550px;
  overflow-y:scroll;
  width:100%;
}

.scrollable{
    overflow-y:scroll;
    height:75px;
}

.tab-pane-no-scroll{
    height: 550px;
    width: 100%;
}

.extra-padding{
    padding-top: 40px;
}

.modal-padding{
    padding: 0 20px 20px 20px;
}

.err-messages{
    color: #CC0030;
}

.gen-tab-border{
    border-bottom: 2px solid black;
}

#navBarPageTitle{
    font-weight: 100;
    padding-left: 10px;
    font-size: medium;
}

#logo{
    height: 20px;
}

.navbar-brand{
    padding: 2px 0 0 0 !important;
}

.navbar-brand>img{
    padding-top: 4px;
    padding-left: 10px;
}

.navbar-default .navbar-brand{
    color: #F3FFBD !important;
}

.navbar-default .navbar-nav>li>a{
    color: #F3FFBD !important;
}

#navbar-page-title{
    float: left;
    padding: 12px 8px;
    font-size: 12px;
    line-height: 18px;
    height: 42px;
}

#userHeader{
    margin-right: 10px;
}

.input-addon-btn:hover {
    cursor: pointer;
}

th:hover{
    cursor: pointer;
}

.studentListTable > tbody > tr:hover{
    cursor: pointer;
}

.studentListTableHeader{
    font-size: large;
}

.loading-wrapper {
    background: rgba(255, 255, 255, 1);
    z-index: 998;
}

body {
    margin: 0 !important;
}

.loading {
    z-index: 999;
}

#editNameHeader{
    margin-top: 0;
    display: inline-block;
}

.center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}
.star-rating.readonly .star.filled {
  color: #666;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
    color: #000;
}

.highlight{
    background-color: #fd0;
}

.table-hover>tbody>tr:hover{
    background-color: #F3FFBD !important;
}

#textLogo{
    font-size: x-large;
    padding-top: 13px !important;
}

.input-group-addon{
    background-color: #F3FFBD !important;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    background-color: #3E95BA !important;
}

.navbar{
    border-bottom: 1px solid #F3FFBD !important;
}

.navbar-default{
    /*background-image: url(../images/dark-wood.png) !important;*/
    background-color: #247BA0 !important;
}

.modal-content{
    background-color: #B2DBBF !important;
}

.jumbotron{
    background-color: #70C1B3 !important;
}

.btn-link{
    color: #000 !important;
}

.panel-default>.panel-heading {
    background-color: #70C1B3 !important;
}

.panel{
    background-color: transparent !important;
    border: none !important;
}

.form-control{
    background-color: #F3FFBD !important;
}

.btn-primary{
    background-color: #247BA0 !important;
    color: #F3FFBD !important;
}

.btn-primary:hover{
    background-color: #00486D !important;
}

.btn-danger{
    background-color: #FF1654 !important;
}

.btn-danger:hover{
    background-color: #CC0030 !important;
}

.btn-success{
    background-color: #335C40 !important;
    border-color: #335C40 !important;
}

.btn-success:hover{
    background-color: #194226 !important;
}

.btn-info{
    background-color: #9477cb !important;
    border-color: #9477cb !important;
}

.btn-info:hover{
    background-color: #614498 !important;
}

.btn-warning{
    background-color: #ffa82e !important;
    border-color: #ffa82e !important;
    text-shadow: 2px 2px rgba(0,0,0,0.15);
}

.btn-warning:hover{
    background-color: #ff9e14 !important;
}
.ingredBtn{
    margin-top: 6px !important;
}

.dropdown-menu{
    background-color: #247BA0 !important;
}

.dropdown-menu>li>a{
    color: #F3FFBD !important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    background-color: #3E95BA !important;
    color: #F3FFBD !important;
}

#ingredientArea{
    background-color: #F3FFBD;
}