<div class="container default-top-spacer" ng-if="vm.recentlyAdded.length == 0">
  <div class="jumbotron">
    <h1 class="display-3">Add to Inventory</h1>
    <p class="lead">Please scan now or click below to manually enter a new item.</p>
    <hr class="m-y-2">
    <p class="lead">
      <a class="btn btn-primary btn-lg" ng-click="vm.goToManualInput()" role="button">New Item</a>
    </p>
  </div>
</div>

<div class="container-fluid default-top-spacer" ng-if="vm.recentlyAdded.length != 0">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default tab-pane">
                <div class="panel-heading">
                    <h3 class="">Recently Scanned</h3>
                    <h5>Click to Edit</h5>
                </div>
                <div class="panel-body">
                  <table class="table table-hover table-borderless">
                    <thead>
                      <tr>
                        <th>Quantity</th>
                        <th>Name</th>
                        <th>Submitted</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in vm.recentlyAdded" ng-click="vm.selectItem(item)">
                        <td>{{item.quantity}}</td>
                        <td>{{item.name}}</td>
                        <td ng-class="{ 'glyphicon glyphicon-ok' : item.submitted }"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-default tab-pane-no-scroll">
                <div class="panel-heading">
                    <h3 class="">Selected Item</h3>
                    <h5>Press Submit to Add to Inventory</h5>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <h1 class="text-center">{{vm.selectedItem.name}}</h1>
                  </div>
                  <div class="row">
                    <h3 class="text-center">Select quantity</h3>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <rzslider rz-slider-model="vm.slider.value" rz-slider-options="vm.slider.options"></rzslider>
                    </div>
                  </div>
                  <div class="row small-top-spacer">
                    <a class="btn btn-primary btn-lg col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4" ng-click="vm.addToGroceries(vm.selectedItem)" role="button">Submit</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>