<div class="container default-top-spacer">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default tab-pane">
                <div class="panel-heading" id="urgent">
                    <h3 class="">Expirations</h3>
                </div>
                <div class="panel-body">
                    <div ng-if="vm.urgentNotifications.length == 0 && vm.expiredNotifications.length == 0">
                        Nothing to report! Good job!
                    </div>
                    <dl ng-repeat="notification in vm.urgentNotifications">
                        <dt>{{notification.item.item_name}}: <span>{{notification.quantity}}</span><span ng-if="notification.item.measurement !== 'quantity'"> {{notification.item.measurement}}</span> <button type="button" class="btn btn-link" ng-click="vm.dismissed(notification)"><span class="glyphicon glyphicon-remove-sign"></span></button> <br><span class="urgent" style="padding-left: 2em">( {{notification.daysUntilExpiration}} days until expired. )</span></dt>
                    </dl>
                    <hr>
                    <dl ng-repeat="notification in vm.expiredNotifications">
                        <dt>{{notification.item.item_name}}: <span>{{notification.quantity}}</span><span ng-if="notification.item.measurement !== 'quantity'"> {{notification.item.measurement}}</span> <button type="button" class="btn btn-link" ng-click="vm.dismissed(notification)"><span class="glyphicon glyphicon-remove-sign"></span></button> <br><span class="urgent" style="padding-left: 2em">( {{notification.daysPastExpiration}} days past expiration. )</span></dt>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default tab-pane">
                <div class="panel-heading">
                    <h3 class="">Recipe Suggestions</h3>
                </div>
                <div class="panel-body">
                    <small style="color:#247BA1">You have everything that you need to make the following recipes:</small>
                    <br>
                    <dl ng-repeat="notification in vm.recipeNotifications">
                        <dt>{{notification.name}} <button type="button" class="btn btn-link" ng-click="vm.goToRecipe(notification.recipe_id)"><span class="glyphicon glyphicon-eye-open"></span></button></dt>
                    </dl>
                    <div ng-if="vm.recipeNotifications.length == 0">
                        Your current inventory doesn't quite have everything to make any currently saved recipes =(
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default tab-pane">
                <div class="panel-heading">
                    <h3 class="">Smart Shopping List</h3>
                </div>
                <div class="panel-body">
                    <dl ng-repeat="item in vm.shoppingList">
                        <dt>{{item.item_name}}: <span>{{item.quantity}}</span><span ng-if="item.measurement !== 'quantity'"> {{item.measurement}}</span></dt>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>