<div class="container default-top-spacer">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default tab-pane">
                <div class="panel-heading" id="urgent">
                    <h3 class="">Urgent!</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-borderless" ng-if="vm.urgentNotifications.length > 0">
                        <thead>
                            <tr>
                                <th>Food</th>
                                <th>Quantity</th>
                                <th>Days Until Expired</th>
                                <th>Dismiss</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="notification in vm.urgentNotifications">
                                <td>{{notification.item.item_name}}</td>
                                <td><span>{{notification.quantity}}</span><span ng-if="notification.item.measurement !== 'quantity'"> {{notification.item.measurement}}</span></td>
                                <td>{{notification.daysUntilExpiration}}</td>
                                <td><button type="button" class="btn btn-link" ng-click="vm.dismissed(notification)"><span class="glyphicon glyphicon-remove-sign"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="vm.urgentNotifications.length == 0">
                        Nothing to report! Good job!
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default tab-pane">
                <div class="panel-heading">
                    <h3 class="">Recipe Suggestions</h3>
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                    varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                    condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                    nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                    accumsan. Aliquam in felis sit amet augue.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                    varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                    condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                    nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                    accumsan. Aliquam in felis sit amet augue.
                    </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default tab-pane">
                <div class="panel-heading">
                    <h3 class="">Smart Shopping List</h3>
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                    varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                    condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                    nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                    accumsan. Aliquam in felis sit amet augue.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                    varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                    condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                    nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                    accumsan. Aliquam in felis sit amet augue.
                    </div>
            </div>
        </div>
    </div>
</div>