<script type="text/ng-template" id="addToModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add to {{mvm.grocery.name}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <span>How much {{mvm.grocery.name}} would you like to add?</span><br>
        <form class="form form-horizontal">
            <div class="form-group">
                <label for="numberAdded" class="control-label col-sm-4">Enter an amount</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" ng-model="mvm.amtToAdd" min="0">
                    <span> {{mvm.grocery.unit}}</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="mvm.added()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="mvm.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="removeFromModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Remove {{mvm.grocery.name}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <span>Please select the one from which you are removing items.</span><br>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Purchase Date</th>
                    <th>Quantity</th>
                    <th>Days Until Listed Expiration</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in mvm.grocery.itemList" ng-click="mvm.selectFood(item, $event)">
                    <td>{{item.created_at | dateFormat}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.daysUntilExpiration}}</td>
                </tr>
            </tbody>
        </table>
        <form class="form form-horizontal">
            <div class="form-group">
                <label for="numberRemoved" class="control-label col-sm-4">Enter an amount to remove from selected</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" ng-model="mvm.amtToRemove" min="0">
                    <span> {{mvm.grocery.unit}}</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="mvm.removed()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="mvm.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="expireModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Expired {{mvm.grocery.name}} Report</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <span>Please select the one from which you are reporting expired items.</span><br>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Purchase Date</th>
                    <th>Quantity</th>
                    <th>Days Until Listed Expiration</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in mvm.grocery.itemList" ng-click="mvm.selectFood(item, $event)">
                    <td>{{item.created_at | dateFormat}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.daysUntilExpiration}}</td>
                </tr>
            </tbody>
        </table>
        <form class="form form-horizontal">
            <div class="form-group">
                <label for="numberRemoved" class="control-label col-sm-4">Enter the number of expired units</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" ng-model="mvm.amtToRemove" min="0">
                    <span> {{mvm.grocery.unit}}</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="mvm.expired()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="mvm.cancel()">Cancel</button>
    </div>
</script>

<div class="container default-top-spacer">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default tab-pane">
                <div class="panel-heading">
                    <h3 class="inventory-panel-title">Current Inventory</h3>
                    <form>
                        <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>

                            <input type="text" class="form-control" placeholder="Search" ng-model="vm.searchInventory">

                        </div>      
                        </div>
                    </form>
                </div>
                <div class="panel-body">
                    <uib-accordion close-others='true'>
                        <div uib-accordion-group class="panel-default" 
                        heading="{{grocery.name}} - {{grocery.total}} {{grocery.unit}}" 
                        ng-repeat="grocery in vm.groceries | filter:vm.searchInventory"
                        ng-click="vm.selectFood(grocery.itemList[0])">
                            <table class="table table-borderless">
                                <div class="btn-group" role="group">
                                    <button type="submit" class="btn btn-primary btn-sm" ng-click="vm.updateSelectedFood('add', grocery)"><span class="glyphicon glyphicon-plus"></span></button>
                                    <button type="submit" class="btn btn-danger btn-sm" ng-click="vm.updateSelectedFood('waste', grocery)">Report Expired</button>
                                    <button type="submit" class="btn btn-default btn-sm" ng-click="vm.updateSelectedFood('remove', grocery)"><span class="glyphicon glyphicon-minus"></span></button>
                                </div>
                                <thead>
                                    <tr>
                                        <th>Food Name</th>
                                        <th>Quantity</th>
                                        <th>Days Until Expiration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in grocery.itemList">
                                        <td>{{item.item.item_name}}</td>
                                        <td><span>{{item.quantity}}</span><span ng-if="item.item.measurement !== 'quantity'"> {{item.item.measurement}}</span></td>
                                        <td>{{item.daysUntilExpiration}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-accordion >
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default tab-pane-no-scroll">
                <div class="panel-heading">
                    <h3 class="">Selected Food</h3>
                </div>
                <div class="panel-body">
                    <div ng-if="vm.selectedFood == null">
                        <h3>No Food Item Selected</h3>
                        <small>Please select an item from the list to the left.</small>
                    </div>
                    <form name="editItemForm" ng-if="vm.selectedFood != null">
                        <div class="form-group ">
                            <label class="control-label" for="foodName">
                                Food Name
                            </label>
                            <input class="form-control" id="foodName" name="foodName" type="text" ng-model="vm.selectedFood.item.item_name" ng-disabled="true"
                            />
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="foodServingSize">
                                Serving Size
                            </label>
                            <input class="form-control" id="foodServingSize" name="foodServingSize" type="text" ng-model="vm.selectedFood.item.serving_size" ng-disabled="true"
                            />
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="foodMeasurement">
                                Unit of Measurement
                            </label>
                            <input class="form-control" id="foodMeasurement" name="foodMeasurement" type="text" ng-model="vm.selectedFood.item.measurement" ng-disabled="true"
                            />
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="foodServingsPerContainer">
                                Servings Per Container
                            </label>
                            <input class="form-control" id="foodServingsPerContainer" name="foodServingsPerContainer" type="text" ng-model="vm.selectedFood.item.servings_per_container" ng-disabled="true"
                            />
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="foodStorage">
                                Storage Classification
                            </label>
                            <input class="form-control" id="foodStorage" name="foodStorage" type="text" ng-model="vm.selectedFood.item.storage" ng-disabled="true"
                            />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

