<div class="container default-top-spacer">

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default tab-pane">
                <div class="panel-heading">
                    <h3 class="">Recipes</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-borderless">
                    <thead>
                        <tr>
                            <th>Recipe Name</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="recipe in vm.recipes" ng-click="vm.selectRecipe(recipe)">
                            <td>{{recipe.name}}</td>
                            <td star-rating ng-model="recipe.rating.rating" max="10" readonly="true"></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default tab-pane-no-scroll">
                <div class="panel-heading">
                    <h3 class="">Selected Recipe</h3>
                </div>
                <div class="panel-body">
                    <form name="editrecipeForm">
                        <div class="form-group ">
                            <label class="control-label" for="recipeName">
                                Recipe Name
                            </label>
                            <input class="form-control" id="recipeName" name="recipeName" type="text" ng-model="vm.selectedRecipe.name" ng-disabled="true"
                            />
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="recipePrepTime">
                                Prep Time (in minutes)
                            </label>
                            <input class="form-control" id="recipePrepTime" name="recipePrepTime" type="text" ng-model="vm.selectedRecipe.prep_time" ng-disabled="true"
                            />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="recipeIngredients">
                                Ingredients
                            </label>
                            <ul class="scrollable">
                                <li ng-repeat="ingredient in vm.selectedRecipe.ingredients">
                                    <span>{{ingredient.item.item_name}}: {{ingredient.quantity}} {{ingredient.item.measurement}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="recipeInstructions">
                                Instructions
                            </label>
                            <textarea class="form-control" rows="5" id="recipeInstructions" name="recipeInstructions" ng-model="vm.selectedRecipe.instructions" ng-disabled="true"></textarea>
                        </div>
                        <div class="form-group">
                            <div star-rating ng-model="vm.selectedRecipe.rating.rating" max="10" on-rating-select="vm.rateFunction(rating)"></div>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-danger" ng-click="vm.removeRecipe()">Delete</button>
                            <button type="submit" class="btn btn-success" ng-click="vm.madeRecipe()">Made</button>
                            <button type="submit" class="btn btn-primary" ng-click="vm.newRecipe()">New</button>
                            <button type="submit" class="btn btn-info" ng-click="vm.editRecipe()">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

