<div class="container default-top-spacer">
  <div class="jumbotron">
    <h1 class="display-3">Remove from Inventory</h1>
    <p class="lead">Please scan now or click below to manually remove an item.</p>
    <hr class="m-y-2">
    <p class="lead">
      <a class="btn btn-primary btn-lg" ng-click="vm.goToManualRemove()" role="button">Manually Remove Item</a>
    </p>
  </div>
</div>

<barcode-listener on-scan='vm.barcodeScanned' prefix='0' length='11' scan-duration='500'></barcode-listener>

<script type="text/ng-template" id="removeScanned.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Remove {{mvm.grocery.itemList[0].item.item_name}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <span>Please select the one from which you are removing items.</span><br>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Purchase Date</th>
                    <th>Quantity</th>
                    <th>Days Until Listed Expiration</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in mvm.grocery.itemList" ng-click="mvm.selectFood(item, $event)">
                    <td>{{item.created_at | dateFormat}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.daysUntilExpiration}}</td>
                </tr>
            </tbody>
        </table>
        <form class="form form-horizontal">
            <div class="form-group">
                <label for="numberRemoved" class="control-label col-sm-4">Enter an amount to remove from selected</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" ng-model="mvm.amtToRemove" min="0">
                    <span> {{mvm.grocery.unit}}</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="mvm.removed()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="mvm.cancel()">Cancel</button>
    </div>
</script>