<div class="container default-top-spacer">
    <h2 class="text-center">Food Waste Percentage, Past 6 Months</h2>
    <div class="row">
        <div class="col-sm-4">
            <h3 class="text-center">Past 30 Days</h3>
            <canvas id="pie" class="chart chart-pie" chart-data="vm.month0"
            chart-labels="vm.labels"></canvas> 
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Past 60 to 90 Days</h3>
            <canvas id="pie" class="chart chart-pie" chart-data="vm.month1"
            chart-labels="vm.labels"></canvas> 
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Past 90 to 120 Days</h3>
            <canvas id="pie" class="chart chart-pie" chart-data="vm.month2"
            chart-labels="vm.labels"></canvas> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3 class="text-center">Past 120 to 150 Days</h3>
            <canvas id="pie" class="chart chart-pie" chart-data="vm.month3"
            chart-labels="vm.labels"></canvas> 
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Past 150 to 180 Days</h3>
            <canvas id="pie" class="chart chart-pie" chart-data="vm.month4"
            chart-labels="vm.labels"></canvas> 
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Past 180 to 210 Days</h3>
            <canvas id="pie" class="chart chart-pie" chart-data="vm.month5"
            chart-labels="vm.labels"></canvas> 
        </div>
    </div>
</div>